figure > img + p:not(:empty) {
    text-align: right;
    color: var(--secondary);
    margin-bottom: calc(-0.5 * var(--gap));
}

:root {
    --flamingo: #e64553;
    --peach: #F4BB46;
    --teal: #179299;
    --lavender: #8839ef;
    --bluesky: #0a7aff;
    --mastodon: #6364ff;
    --whatsapp: #25d366;
    --discord: #7289da;
}

#menu > li:nth-child(1) > a > span {
    color: var(--peach);
}

#menu > li:nth-child(2) > a > span {
    color: var(--flamingo);
}

#menu > li:nth-child(3) > a > span {
    color: var(--teal);
}

#menu > li:nth-child(4) > a > span {
    color: var(--lavender);
}

.social-icons > a[title="Bluesky"] {
    color: var(--bluesky)
}

.social-icons > a[title="Mastodon"] {
    color: var(--mastodon)
}

.social-icons > a[title="Whatsapp"] {
    color: var(--whatsapp)
}

.social-icons > a[title="Discord"] {
    color: var(--discord)
}

.dark {
    --theme: #072D60;
    --dark-blue: #002141;
    --blue: #072D60;
    --tertiary: var(--theme);
    --entry: var(--theme);
    --content: #F8F7F2;
    --primary: var(--content);
    --secondary: var(--content);
}

.post-content strong {
    color: var(--peach);
}
.post-content a {
    color: var(--flamingo);
}

article.post-entry {
    border: none;
    background: var(--dark-blue);

    ba

    & > * {
        color: var(--content);

    }
}

article.post-single .breadcrumbs {
    margin-bottom: 16px;
}


html {
    overflow-y: auto;
    scrollbar-gutter: auto;
}

.header {
    background-color: var(--dark-blue);
}

.profile_inner {
    & > h1 {
        display: none;
    }

    & > img {
        margin-bottom: -50px;
    }
}