figure > img + p:not(:empty) {
    text-align: right;
    color: var(--secondary);
    margin-bottom: calc(-0.5 * var(--gap));
}

:root {
    --flamingo: #e64553;
    --peach: #df8e1d;
    --teal: #179299;
    --lavender: #8839ef;
    --bluesky: #0a7aff;
    --mastodon: #6364ff;
    --whatsapp: #25d366;
}

#menu > li:nth-child(1) > a > span {
    color: var(--peach);
}

#menu > li:nth-child(2) > a > span {
    color: var(--flamingo);
}

#menu > li:nth-child(3) > a > span {
    color: var(--teal);
}

#menu > li:nth-child(4) > a > span {
    color: var(--lavender);
}

.social-icons > a[title="Bluesky"] {
    color: var(--bluesky)
}

.social-icons > a[title="Mastodon"] {
    color: var(--mastodon)
}

.social-icons > a[title="Whatsapp"] {
    color: var(--whatsapp)
}

.dark {
    --theme: #11111b;
    --tertiary: --theme;
    --entry: --theme;
    --content: #eff1f5;
}

.post-content strong {
    color: var(--peach);
}
.post-content a {
    color: var(--flamingo);
}

article.post-entry {
    border: none;
    padding-left: 0;
    padding-right: 0;
}

article.post-single .breadcrumbs {
    margin-bottom: 16px;
}