figure > img + p:not(:empty) {
    text-align: right;
    color: var(--secondary);
    margin-bottom: calc(-0.5 * var(--gap));
}

body {
    font-family: 'Roboto Thin', sans-serif;
}

:root {
    --flamingo: #e64553;
    --peach: #df8e1d;
    --teal: #179299;
    --lavender: #8839ef;
    --bluesky: #0a7aff;
    --mastodon: #6364ff;
    --whatsapp: #25d366;
}

#menu > li:nth-child(1) > a > span {
    color: var(--peach);
}

#menu > li:nth-child(2) > a > span {
    color: var(--flamingo);
}

#menu > li:nth-child(3) > a > span {
    color: var(--teal);
}

#menu > li:nth-child(4) > a > span {
    color: var(--lavender);
}

.social-icons > a[title="Bluesky"] {
    color: var(--bluesky)
}

.social-icons > a[title="Mastodon"] {
    color: var(--mastodon)
}

.social-icons > a[title="Whatsapp"] {
    color: var(--whatsapp)
}

.dark {
    --theme: #11111b;
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: #eff1f5;
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
}
